// module file doesn't work for this since it's overwriting Bootstrap default styling I think

.btn input[type="reset"] {
    padding: 0 !important;
    border: none;
    background: transparent;
    color: inherit;
}